<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comparison Prototype</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-idNH3UIOiZbCf8jxqu4iExnH34y5UovfW/Mg8T5WfNvoJolDvknoNqR69V2OexgF" crossorigin="anonymous">
</head>
<body>
<h1 align="center">code hopper</h1>
    <div style="border:2px; border-style:solid; border-color:#090909; padding: 1em; width:95%; margin:0 auto; border-radius: 25px; background-color:#1c1f24;">
        <p>What is your name?</p>
    <div align="center">
    <form method = "POST">
        <input name = "Answer" value="" required style="width:85%;">
        <input type="submit" value="Submit">
     </form>
    </div></div>
</body>
</html>
